[submodule "assets/vkpbr5"]
	path = assets/vkpbr5
	url = https://github.com/chevp/vkpbr5.git
	branch = main
[submodule "arctic-formats"]
	path = arctic-formats
	url = https://github.com/chevp/arctic-formats.git
	branch = main
[submodule "qilak-quickstarts"]
	path = qilak-quickstarts
	url = https://github.com/chevp/qilak-quickstarts.git
	branch = main
[submodule "modules/assets/cryo-asset"]
	path = modules/assets/cryo-asset
	url = https://github.com/chevp/cryo-asset.git
	branch = main
[submodule "modules/assets/cryo-cache"]
	path = modules/assets/cryo-cache
	url = https://github.com/chevp/cryo-cache.git
	branch = main
[submodule "modules/toolings/cryo-tooling"]
	path = modules/toolings/cryo-tooling
	url = https://github.com/chevp/cryo-tooling.git
	branch = main
[submodule "customer-templates/arctic-stylized-nature"]
	path = customer-templates/arctic-stylized-nature
	url = https://github.com/chevp/arctic-stylized-nature.git
	branch = main
